<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>
    <% result = connection.exec("select weight, give_for from crops;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <% result1 = connection.exec("select weight, give_for from crops where give_for != '自家消費';") %>
    <% data_1 = [] %>
    <% result1.each do |record1| %>
      <%  data_1 << "ゴーヤの大きさ：#{record1["weight"]} 売った相手：#{record1["give_for"]}" %>
    <% end %>

    <% result2 = connection.exec("select weight, give_for, quality from crops where quality = 'false';") %>
    <% data_2 = [] %>
    <% result2.each do |record2| %>
      <%  data_2 << "ゴーヤの大きさ：#{record2["weight"]}　売った相手：#{record2["give_for"]} 品質：#{record2["quality"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、自家消費ではないゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data_1.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、品質の悪いゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data_2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>